<div class="container">
  <h2>Products</h2>

  <div *ngIf="products" class="row">
    <div *ngFor="let product of products" class="col-lg-4 product mb-5">
      <a [attr.href]="'/product/' + product.id">
        <div class="product--image pb-2">
          <img class="img-fluid" [attr.src]="siteUrl + product.image_url" alt="{{ product.title }}" />
        </div>
        <div>
          <div class="row">
            <div class="col-lg-6"><div class="product--title"><h4>{{ product.title }}</h4></div></div>
            <div class="col-lg-6 text-right"><p class="product--price">Price: {{ product.price }}</p></div>
          </div>
        </div>
      </a>
      <div class="product-actions">
        <div class="row">
          <div class="col-lg-6">
            <a class="btn btn-info" *ngIf="isAdmin" [attr.href]="'/product/' + product.id + '/edit'">Edit Product</a>
          </div>
          <div class="col-lg-6">
            <button (click)="addToInventory(product)" class="btn btn-primary">Add To Inventory</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>