<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">JBA Developer Test</a>

    <div id="navbarNav">
      <ul *ngIf="isLoggedIn" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/image-compress">Image Compression Service</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/product/add" class="dropdown-item">Add new Products</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/inventory" class="nav-link">My Inventory</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="btn btn-primary">Logout</a>
        </li>
      </ul>
      <ul *ngIf="!isLoggedIn" class="navbar-nav">
        <li class="nav-item">
          <a href="/login" class="nav-link">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>