<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div *ngIf="product" class="single-product">
        <div class="single-product--image">
          <img class="img-fluid" [attr.src]="siteUrl + product.image_url" alt="">
        </div>
        <div class="single-product--description">
          <h2>{{ product.title }}</h2>
          <div class="row">
            <div class="col-md-8"><p>{{ product.description }}</p></div>
            <div class="col-md-4"><p>{{ product.price | currency }}</p></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>