.product {
  a {
    &:link,
    &:visited {
      color: #000;
      text-decoration: none;
    }
  }

  & &--title {
    h4 {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  & &--price {
    font-weight: bold;
  }
}