<div class="container">
  <h2>Image compression Service</h2>
  <div class="form-group">
    <input type="file" (change)="onFileChanged($event)" />
  </div>
  <div class="text-right">
    <button [disabled]="loading" class="btn btn-primary" (click)="onUpload()">Compress image</button>
    <a target="_blank" [attr.href]="downloadUrl" [hidden]="!downloadUrl" class="btn btn-success ml-3">Download</a>
  </div>
</div>